:root {
    --mainColor1: #25AAE1;
    --mainColor2: #0084CC;
    --mainColor3: #0C5A93;
    --secundaryColor: #D5E8F1;
    --fontColor: #121212;
}

body {
    margin: 0;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.20em;
    color: var(--fontColor);
    background-color: var(--mainColor2);
}

.header-container {
    margin: auto;
    padding: 15px;
    position: relative;
    text-align: center;
    user-select: none;
}

.main-container {
    display: flex;
    position: relative;
    width: 90vw;
    height: fit-content;
    margin: auto;
    padding: 20px;
    justify-content: center;
    user-select: none;
}

.app-print-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
}

.app-print_fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
    height: fit-content;
    max-height: 250px;
    max-width: 500px;
    border: 2px var(--mainColor3) solid;
    border-radius: 15px;
}

.print-input, ::-webkit-file-upload-button {
    border: none;
    border-radius: 5px;
    margin: 2px 0;
}

.print-input:focus-visible, ::-webkit-file-upload-button:focus-visible {
    outline: none;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: auto 5px;
    user-select: none;
}